<div class="card opacity-8">
    <div class="card-header bg-light">
        <h5 class="card-title text-secondary float-start">Filter</h5>   
        <button class="btn btn-outline-secondary btn-sm float-end rounded" 
            data-bs-toggle="collapse" 
            (click)="showHideFilters()"
            data-bs-target="#filters">
            +
        </button>                         
    </div>
    <div class="card-body collapse show" id="filters" *ngIf="showFilters">
        <form class="small">
            <fieldset class="mb-3">
                <legend>
                    <h6 class="card-subtitle">Categories</h6>
                </legend>                                    
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>                                    
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>                                    
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>
            </fieldset>
            <fieldset class="mb-5 w-100">
                <legend>
                    <h6 class="card-subtitle">Parameters</h6>
                </legend>                                    
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>                                    
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>                                    
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>                                  
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>                       
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>                
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>           
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>        
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>     
                <div class="form-check ms-2">
                    <input class="form-check-input" type="checkbox" />
                    <label class="form-check-label">Item</label>
                </div>
            </fieldset>
            <div class="w-100 text-end border-top pt-2">
                <input type="reset" value="Clear" class="btn btn-sm btn-secondary rounded-pill"/>
                <input type="submit" value="Filter" class="btn btn-sm btn-secondary rounded-pill"/>
            </div>
        </form>
    </div>
</div>